<div class="row mt-2">
  <div class="col-xs-12">
    <img [src]="" [alt]="">
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12">
    <h4>Recipe Name</h4>
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>
